@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-cookcraft-white: #fff9f2;
  --color-cookcraft-olive: #495057;
  --color-cookcraft-green: #b9cbb7;
  --color-cookcraft-red: #e07a5f;
  --color-cookcraft-yellow: #f4d35e;
  --font-cookcraft-roboto: "roboto";
}
